//_content.scss

.container{
	width:100%;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	height:auto;
	position:relative;
	
	@include breakpoint(medium){
		height:auto;
	}

	@include breakpoint(minHeight){
		height:auto;
	}
}

.content-wrapper{
	width:100%;
	background:#fff;
	padding:1em;
	.content{
		width:100%;
		max-width:$maxWidth;
		margin:0 auto;
	}
}
.title-container{
	width:100%;
	margin:0 0 1em 0;
	@include breakpoint(tablet){
		display:flex;
		justify-content:space-between;
		align-items:flex-start;
		margin:1em 0 1em 0;
	}
	p{
		width:100%;
		margin:0;
		font-weight:bold;
		@include breakpoint(tablet){
			width:46%;
			
			text-align:right;
			min-width:30em;
		}
	}
}
.col-wrapper{
	display:block;
	@include breakpoint(tablet){
		display:flex;
		flex-wrap:wrap;
		justify-content:space-around;
		align-items:flex-start;
		margin-top:2em;
		&.center{
			
			align-items:center;
		}
	}
	.col{
		width:100%;
		padding:0;
		word-break:break-word;
		@include breakpoint(medium){
			padding:0 2em 0 2em;
		}
		&.borderR{
			@include breakpoint(medium){
				border-right:1px solid #a2a2a2;
			}
		}
		&.borderL{
			@include breakpoint(medium){
				border-left:1px solid #a2a2a2;
				
			}
		}
		&.two{
			@include breakpoint(medium){
				width:50%;
			}
		}
		&.three{
			@include breakpoint(medium){
				width:33%;
			}
		}
		
	}
}
table{
	font-weight:100;
}