// _foot.scss

footer{
	background:#fff;
	height:auto;
	width:100%;
	max-width:$maxWidth;
	margin:0 auto;
	padding:1em;
	color:$secondColor;
	font-weight:300;
	font-size:0.9em;
	@include breakpoint(tablet){
		display:flex;
		justify-content:space-between;
		align-items:center;
	}
	@include breakpoint(medium){
		height:13%;
		height:13vh;
	}
	.col{
		width:100%;
		margin:1em 0;
		@include breakpoint(tablet){
			width:auto;
			margin:0;
		}
		a.btn{
			background:#fff;
			border:1px solid $secondColor;
			color:$secondColor;
			&:hover{
				background:$secondColor;
				color:#fff;
			}
	

		}
		span{
			color:$mainColor;
		}
	}
	h5{
		color:$mainColor;
		margin:0;
		font-size:1em;
		margin-bottom:0.25em;
	}
	address{
		margin:0;
		font-style:normal;


	}
	p{
		margin:0;
	}

}
.tenant-info{
	display:none;
	height:75%;
	width:100%;
	background:none;
	@include breakpoint(tablet){
		width:75%;
		height:50%;
	}
}