//_head.scss

header{
	//max-width:1500px;
	width:100%;
	margin:1em 0 1em auto;
	padding:1em;
	position:relative;
	overflow:visible;
	max-width:$maxWidth;
	margin:0 auto;
	padding:1em;
	z-index:5;
	@include breakpoint(tablet){
		padding:1em 1em 1em 2em;
	}
	.logo{
		width:3.5em;
		height:4em;
		display:inline-block;
		vertical-align:middle;
	}
}

.hero{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:0;
	padding:0;
	height:100%;
	&.sub{
		position:relative;
		margin-top:-7.5em;
		width:100%;
		background-position:center center;
		background-size:cover;
		background-repeat:no-repeat;
		height:10em;
		@include breakpoint(tablet){
			height:14em;
			margin-top:-6.5em;
		}
		@include breakpoint(medium){
			height:16em;
		}
		@include breakpoint(large){
			height:18em;
		}
	}
}