// _menu.scss

nav{
	display:inline-block;
	text-align:right;
	vertical-align:middle;
	font-weight:300;
	width:80%;
	width:calc(100% - 3.8em);
	@include breakpoint(tablet){
		width:92%;
		width:calc(100% - 4em);
	}
	input[type="checkbox"]{
		display:block;
		position:absolute;
		left:-9999%;
		@include breakpoint(tablet){
			display:none;
		}
		&:checked ~ ul{
			display:block;
			@include breakpoint(tablet){
				display:inline-block;
			}
		}
		&:checked ~ label{
			background:$mainColor;
			svg{
				fill:#fff;
				
			}
		}

	}
	label{
		display:inline-block;
		padding:0.5em 1em;
		@include breakpoint(tablet){
			display:none;
		}
		svg{
			fill:$mainColor;
			width:3.5em;
			height:4em;
		}
	}
	ul{
		list-style-type:none;
		display:none;
		padding:0;
		position:absolute;
		top:4.5em;
		right:1em;
		
		background:$mainColor;
		width:auto;
		z-index:99999;
		@include breakpoint(tablet){
			background:none;
			position:static;
			display:inline-block;
			border-top:1px solid #fff;
			border-bottom:1px solid #fff;
			padding:0;
		}
		li{
			display:block;
			
			@include breakpoint(tablet){
				display:inline-block;
				position:relative;
				padding:0;
			}

			a{
				color:#fff;
				text-decoration: none;
				padding:1em;
				display:block;

				@include breakpoint(tablet){
					position:relative;
					padding:0.5em 0.25em;
				}
				@include breakpoint(medium){
					padding:0.5em;
				}
				&:hover{
					background:darken($mainColor, 5);
					color:#fff;
					@include breakpoint(tablet){
						background:none;
						color:$mainColor;
					}
				}
				&.curr{
					background:darken($mainColor, 5);
					@include breakpoint(tablet){
						color:$mainColor;
						background:none;
					}
					&:before{
						content:"";
						position:absolute;
						width:100%;
						
						background-position:center center;
						background-repeat:no-repeat;
						background-size:12px;
						@include breakpoint(tablet){
							top:-17px;
							height:12px;
							left:0;
		
						}
					}
					@include breakpoint(tablet){
						&:before{
							background-image:url('../img/bg_nav.jpg');
						}
					}
				}
			}
		}
	}
}