//_buttons.scss
input[type="submit"], .btn{
	background:#c41230;
	color:#fff;
	padding:0.5em;
	text-transform: uppercase;
	border:0;
	display:inline-block;
	transition:0.5s;
	&:hover{

		transition:0.25s;
		color:#fff;
		background:darken($mainColor, 15);
	}
}