//_form.scss
form {
	margin: 0 0 1em 0;
	width: 100%; 
	@include breakpoint(tablet){
		width:49%;
		display:inline-block;
		text-align:right;
		margin:0;
	}
	input, select {
		margin: 0.25em 0;
		padding: 0.25em 0.5em;
		border: 1px solid #ccc; 
		width:49%;
		display:inline-block;
		background:#fff;
		font-size:1em;
		
		@include breakpoint(tablet){
			width:7em;
			margin:0;
		}
		@include breakpoint(medium){
			width:9em;
		}
	}
	input[type="submit"]{
		margin-top:0;
	}
	select{
		height:2em;
	}
	search button {
		display: none; 
	}
	
}