//slider

.hero.slider{
	position:absolute;
	padding:0;
	@include breakpoint(medium){


	}
	.slick-list,.slick-track{
		height:100%;
	}
	.slick-slide{
		
		width:100%;
		height:100%;
		top:0;
		left:0;
		overflow:hidden;
		
		.slide{
			background-repeat:no-repeat;
			background-size:cover;
			background-position:center center;
		}
		.content{
			display:flex;
			justify-content:flex-end;
			align-items:flex-end;
			flex:flex;
			flex-direction:column;
			width:100%;
			height:15em;
			max-width:$maxWidth;
			margin:0 auto;
			padding:1em;
			@include breakpoint(tablet){
				//height:
			}
			img{
				display:inline-block;
			}
			h1{
				margin:0;
			}
			a{
				img{
					padding:0.25em;
					transition:0.25s;
				}
				&:hover{
					img{
						background:rgba(255,255,255,0.6);
						transition:0.25s;
					}
				}
			}

		}
	}
}