//home.scss
.home {
	.container{
		height:15em;
		@include breakpoint(tablet){
			height:87%;
			height:87vh;
		}
	}
	.slider{
		.slick-slide{
			.content{
				@include breakpoint(tablet){
					height:87%;
					height:87vh;
				}
			}
		}
	}
	.about{
		display:none;
		position:static;
		margin-top:7em;
		@include breakpoint(tablet){
			position:absolute;
			bottom:0;
		}
		@include breakpoint(medium){
		
		}
		&.active{
			display:block;
		}

	}
} 

.about{
	.col{
		.col{
			@include breakpoint(medium){
				padding:0 1em;
			}
		}
		
		
		img{
			max-width:3em;
			vertical-align: middle;
			margin-right:1%;
			width:18%;
		}
		h3{
			display:inline-block;
			vertical-align: middle;
			font-size:1em;
			font-weight:bold;
			margin:0;
			text-transform: uppercase;
			color:$secondColor;
			@include breakpoint(tablet){
				font-size:1.25em;
			}

		}
		p{
			margin-bottom:2em;
		}
	}
}