//portfolio.scss
.portfolio, .search{
	.container{
		.content-wrapper{
			//display:block;
			&.hidden{
				//display:none;

			}
			.content{
				&.hidden{
					height:0em;
				}
			}
		}
	}
	h2{
		width:100%;
		display:inline-block;
		@include breakpoint(tablet){
			width:50%;
		}
	}
	
}
.search-categories{
	display:inline-block;
	//margin-bottom:1em;
	@include breakpoint(tablet){
		width:49%;
		text-align:right;
	}
	a{
		font-weight:300;
		text-transform: uppercase;
		font-size:0.8em;
		padding:0 0.25em;
		font-weight:bold;
		&.current{
			color:$mainColor;
			text-decoration: underline;
		}
	}
}
.gallery{
		width:90%;
		margin:0 auto;
		display:flex;
		flex-wrap:wrap;
		@include breakpoint(tablet){
			width:100%;
		}
		&.expanded{
			display:none;
		}
		&#propertyChooser, &#propertyExpand{
			display:block;
		}
		&#propertyChooser{

			@include breakpoint(tablet){
				width:85%;

			}
			.slide{
				img{
					max-width:17em;
				}
			}
			.slick-current{
				img{
					opacity:0.5;
				}
			}
		}
		.prop-small{
			width:49%;
			@include breakpoint(small){
				width:100%;
			}
			@include breakpoint(tablet){
				width:32%;
			}
			@include breakpoint(medium){
				width:20%;
			}
			&.hidden{
				display:none;
			}
		}
		.slide{
			width:100%;
		}
		.slide, .prop-small{
			
			.more-info, .info{
				padding:0.5em;
				font-size:0.8em;
				
				@include breakpoint(medium){
					//font-size:0.9em;
					
				}
				&:hover{
					cursor:pointer;
					img{
						opacity:0.8;
					}
				}
				img{
					width:100%;

				}
				h3{
					margin:0.5em 0 0 0;
					font-size:0.9em;
					color:#000;
				}
				p{
					margin:0;
					color:$secondColor;
					line-height: 1.2;
					font-size:0.9em;
				}
			}
			
		}
		.prop-small{
			
		}
		
	}
	.popup{
		//display:none;
		opacity:0;
		background:#fff;
		background-image:url('../img/ripple.gif');
		background-repeat:no-repeat;
		background-position:center 30%;
		position:relative;
		left:0;
		top:100%;
		bottom:0;
		width:100%;
		transition:1s opacity, 0.25s z-index, 1s top;
		z-index:-2;
		height:0;
		overflow:hidden;
		h2{
			width:100%;
		}
		&.active{
			//display:block;
			opacity:1;
			transition:1s opacity, 0.25s z-index, 1s top;
			z-index:2;
			top:-1em;
			//min-height:50em;
			height:50%;
			@include breakpoint(tablet){
				top:0;
			}
		
		

		}
		//track-record stuff
		&.track-record-box{
			.portfolio-info{
				display:none;
			}
			.track-info{
				display:block;
			}

			#propertyExpand{
				.content{
					display:inline-flex !important;
					align-items:flex-end;
					justify-content: flex-start;
					.info{
						background:rgba(255,255,255,0.8);
						width:auto;
						p{
							margin:0;
							span{
								color:$mainColor;
							}
						}
						.details{
							display:block;
							height:auto;
							overflow:hidden;
							@include breakpoint(medium){
								
							}
					
						}
						.deets-wrapper{
							display:none;
						}
					}
				}
				
			}
			
			
			
		}

		&.leasing-box{
			#propertyExpand{

				.content{
					.info{
						@include breakpoint(tablet){
							width:100%;
							height:100%;
							margin:0;
						}
						@include breakpoint(medium){
							width:100%;
						}
						.details{
							&.showing{
								@include breakpoint(tablet){
									height:93%;
								}
								
							}
						}
						.leasing-only{
							display:block;
							width:100%;
							@include breakpoint(tablet){
								display:inline-block;
								width:35%;
							}
							.links-box, .contact-box{
								width:100%;
								
							}
						}
						.contact-box{
							display:block;
							width:100%;
							p{
								margin:0;
							}
						}
						ul.gal{
							width:100%;
							@include breakpoint(tablet){
								width:auto;
								margin-right:2%;
								max-width:45%;
								display:inline-block;
								vertical-align: top;
							}
							
								
							
						}
						a{
							&:hover{
								svg.icon{
									fill:$mainColor;
								}
							}
						}
						
					}
				}
				
			}
		}
		.track-info{
			display:none;
		}
		.leasing-only, .contact-box{
			display:none;
		}

		
		
		
			max-width: $maxWidth;
			margin:0 auto;
			
			
				#propertyChooser{
					width:70%;
					margin:1em auto;
					@include breakpoint(tablet){
						width:85%;
					}
					
					
				}
				
			
		
	}
	#loader{
		display:none;
		position:absolute;
		z-index:3;
		top:50%;
		left:50%;
		margin-left:-100px;
		margin-top:-100px;
		
		&.loading{
			display:block;
		}
	}

#propertyExpand, .property-single{
	height:auto;
	min-height:25em;
	@include breakpoint(tablet){
		min-height:30em;
		height:33em;
		height:60vh;
	}
	@include breakpoint(large){
		height:45em;
		height:70vh;
	}
	.content{
		background-size:cover;
		background-position:center center;
		height:25em;
		text-align:right;
		@include breakpoint(tablet){
			min-height:30em;
			height:35em;
			height:60vh;
		}
		@include breakpoint(large){
			height:40em;
			height:70vh
		}
		.info{
			
			padding:1em;
			width:100%;
			display:inline-block;
			font-size:0.9em;
			//overflow-y:scroll;
			//max-height:100%;
			transition:0.5s background;
			background:rgba(255,255,255,0);
			@include breakpoint(tablet){
				width:50%;
				margin:1em;
			}
			@include breakpoint(medium){
				width:35%;
			}
			&.bg{
				background:rgba(255,255,255,0.8);
				transition:0.5s background;
				p.show{
					color:#000;
				}
			}
			h2{
				color:$mainColor;
				font-size:1.5em;
				margin:0;
				@include breakpoint(tablet){

				}
			}
			h3{
				margin-bottom:0;
			}
			ul{
				font-weight:100;
			}
			ul.quick-info{
				list-style-type:none;
				font-weight:100;
				padding:0;
				font-size:0.8em;
				line-height:1;
				margin:1em 0;
				li{
					margin-bottom:0.5em;
				}
			}
			
			p.show{
				display:inline-block;
				vertical-align:middle;
				margin-right:1em;
				color:#fff;
				//position:fixed;
			}
			svg.show-deets{
				width:2.5em;
				height:2.5em;
				display:inline-block;
				vertical-align:middle;
				background:$mainColor;
				fill:#fff;
				cursor:pointer;
				//position:fixed;
				&:hover{
					background:darken($mainColor,10);
				}
				&.flip{
					transform: rotate(180deg);
				}
			}
			.details{
				display:none;
				text-align:left;
				max-height:100%;
				overflow-y:scroll;
				height:23em;
				padding-right:1em;
				&.showing{
					display:block;
				}
				@include breakpoint(medium){
					height:25em;
				}
				&::-webkit-scrollbar{
					width:0.5em;
				}
				&::-webkit-scrollbar-thumb {
					background:$mainColor;
				}
			}
		}
	}

}
.exit-wrapper{
	width:100%;
	max-width: $maxWidth;
	text-align:right;
	margin:0 auto;
	padding:0 1em;
	

	svg.exit{
		fill:$secondColor;
		width:2em;
		height:2.5em;
		display:none;
		&:hover{
			cursor:pointer;
			fill:$mainColor;
		}
		&.active{
			display:inline-block;
		}
	}
	
}	
#resultsAmount{
	display:none;
}
svg.icon{
	width:1em;
	height:1em;
	margin-right:0.25em;
	fill:$secondColor;
}