//_property.scss


.property{
	header{
		z-index:10;
	}
	.shadow{
		position:absolute;
		top:0;
		height:5em;
		width:100%;
		background:linear-gradient(rgba(0,0,0,0.5), rgba(255,255,255,0));
		z-index:2;
	}
	.hero.slider{
		@include breakpoint(tablet){
			height:45%;
			height:45vh;
		}
		.slick-slide{
			.content{
				@include breakpoint(tablet){
					height:45%;
					height:45vh;
				}
			}
		}
	
	}
	.property-single{
		height:auto;
		.content{
			height:auto;
			text-align:left;
			h3{
				margin-top:2em;
			}
		}

	}
	.content-wrapper{
		margin-top:8em;
		@include breakpoint(tablet){
			margin-top:35%;
			margin-top:35vh;

		}
		.content{
			@include breakpoint(medium){
				padding:0 1em;
			}
			ul{
				li{
					font-weight:300;
				}
			}
			.details{
				display:flex;
				flex-wrap:wrap;
				margin-bottom:3em;
				& > *{
					flex-basis:400px;
					flex-grow:1;
					
					@include breakpoint(tablet){
						padding:0 1em 0 0;
					}
					table{

					}
				}
			}
		}
	}
}
ul.gal{
		list-style-type:none;
		padding:0;
		li{
			display:inline-block;
		width:100%;
		border:1px solid $secondColor;
		max-width:8em;
		margin:0 0.5em 0.5em 0;
		overflow:hidden;
		@include breakpoint(medium){
			max-width:10em;
		}
		&:hover{
			border:1px solid $mainColor;
		}
		img{
			max-width:100%;
			display:block;
		}
	}
}
ul.other-props{
	list-style-type:none;
	padding:0;
	li{
		img{
			display:block;
			max-width:100%;

		}

	}

}

input.copy-url{
	position:absolute;
	left:-9999px;
}

a.copy{
	&.copied{
		color:$mainColor;
		transition:0.25s;
	}
}