//_team.scss

.team{
	.profile-wrapper{
		width:100%;
		margin:0 0 3em 0;
		img{
			width:14em;
			max-width:30%;
			min-width:10em;
			display:inline-block;
			vertical-align: top;
			margin:0 1em 1em 0;
		}
		.bio{
			display:inline-block;
			vertical-align: top;
			width:100%;
			@include breakpoint(tablet){
				width:65%;
			}
			h3{
				margin:0;
			}
		}
	}
	.team-grid{
		display:flex;
		align-items:flex-start;
		justify-content:space-evenly;
		flex-wrap:wrap;
		&.first{
			.grid-item{
				background:transparentize($secondColor, 0.6);
			}
		}
		.grid-item{
			font-size:0.7em;
			background:transparentize($secondColor,0.8);
			margin:1em 1em 0 0;
			padding:2em 1em;
			text-align:center;
			width:100%;
			@include breakpoint(tablet){
				width:24em;
			}
			p{
				margin:0;
			}
		}
	}
}