@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
$font: 'Montserrat', verdana, sans-serif;
$mainColor: rgb(196,18,48); // red
$secondColor:#525252; // grey
$maxWidth: 1400px;

// breakpoints

@mixin breakpoint($point) {
  	@if $point == large {
  	   	@media (min-width: 70em) { @content ; }
  	}
  	 	@else if $point ==  medium {
  	   	@media (min-width: 64em) { @content ; }
  	}
  	  	@else if $point == tablet {
  	   	@media (min-width: 45em) { @content ; }
  	}
  		@else if $point == small {
  	  	@media (max-width: 37.5em)  { @content ; }
	
  	}
  	  	@else if $point == minHeight {
  	    @media (max-height: 60em) { @content ; }
  	}

}

//gradients

@mixin linearGradient($top, $topPerc, $bottom, $botPerc){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top $topPerc, $bottom $botPerc); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop($topPerc,$top), color-stop($botPerc,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top $topPerc,$bottom $botPerc); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top $topPerc,$bottom $botPerc); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top $topPerc,$bottom $botPerc); /* IE10+ */
    background: linear-gradient(to bottom,  $top $topPerc,$bottom $botPerc); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}