// base.scss

* {
	box-sizing: border-box; 
	flex:0 1 auto;
}

html{
	height:100%;
	width:100%;
}
body {
	font-family: $font;
	width:100%;
	height:100%;
	font-size:16px;
	line-height:1.4;
	margin: 0 auto; 
	@include breakpoint(medium){
		font-size:18px;
	}
}
img{
	max-width:100%;
}
