//_type.scss

h1{
	color:#fff;
	text-shadow:3px 3px 6px rgba(0, 0, 0, 0.75);
	max-width:100%;
	width:20em;
	text-align:right;
	font-size:1.25em;
	@include breakpoint(tablet){
		font-size:2em;
	}
	@include breakpoint(medium){
		font-size:3em;
	}

}
h2 {
	font-weight: 300;
	color:$secondColor;
	font-size:1.25em;
	text-transform:uppercase;
	@include breakpoint(tablet){
		font-size:1.75em;
		margin:0;
	}
	
}

h3 {
	color: $mainColor; 
	font-weight:400;

}
h4{
	font-size:0.8em;
	text-transform:uppercase;
	font-color:$secondColor;
}
p{
	line-height:1.5;
	font-weight:300;
}
a {
	color: #333;
	text-decoration: none;

	&:hover{
		color:$mainColor;
	}
	.nav &:hover {
		color: #000;
		border-color: #aaa; 
	}
}
blockquote {
	margin-left: 0;
	padding-left: 1.5em;
	padding-right: 2em; 
	border-left: 4px solid #ddd; 
	font-style: italic; 
	color: #777; 
}